body {color: darkslategray;
    background-color: lightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {color: white; background-color: lightseagreen;
    font-family: 'Poppins', sans-serif;
}
h2 {color: lightseagreen;
    font-family: 'Poppins', sans-serif;
}
a {color: lightseagreen;}

nav {
    padding: 10px;
    margin-bottom: 30px;
    background-color: darkcyan;}

nav a {color: white;}
nav {color: white;}

nav a:hover {background-color: gray;}